<h1>Stupid Coaching</h1>
<div class = "question">
<h2> Question:</h2>
<h3><%= @input %></h3>
</div>
<div class = "answer">
<h2> Answer:</h2>
<h3><%= @answer %></h3>
<%= link_to "Ask another question", ask_path %>
