<h1>Stupid Coaching</h1>
<h2>Ask Your Coach a question!</h2>
<form action= "answer" method="get">
  <input type="text" name="question" placeholder="what is your question?">
  <input type="submit">
</form>
